@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply flex flex-col lg:flex-row items-center py-10 px-10 lg:px-28 bg-fvtLavender-100;
}
.footer {
  @apply relative mt-auto flex flex-col text-sm md:gap-4 bottom-0 z-0 h-[180px] bg-fvtGrey w-full px-4 py-12 text-center items-center justify-center;
}

.main {
  @apply w-full min-h-[75vh] py-10 px-10 lg:px-28;
}

.recommendations {
  @apply flex gap-8 flex-wrap items-center justify-center
}

.form-text-field {
  @apply w-72  h-12 p-3 mb-4 border border-black shadow-xl text-center text-sm sm:text-lg
}

.nav-link {
  @apply font-medium underline cursor-pointer;
}

.nav-link-active {
  @apply font-medium text-fvtLavender-200 underline cursor-pointer;
}