/*css styles for the main body*/

body {
    font-family: "Courier New", Courier, sans-serif, Circular, "Helvetica Neue",Helvetica;
    display: inline;
    text-align: center;
    background-color: #66cc66;
    color: purple;
}

section.hero{
    margin-top: 200px;
}

.recommendation-list {
    list-style: none;
}


nav {
    display: flex; /* set the display property to flex */
    justify-content: center; /* center the items horizontally */
    align-items: center; /* center the items vertically */
    background-color: purple;
    margin-left: -5px;
  }
  
  nav ul {
    list-style: none; /* remove the default list style */
    display: flex; /* set the display property to flex */
    margin-left: -70px;
  }
  
  nav ul li {
    margin: 0 10px; /* add some margin between the list items */
  }
  nav ul li a:hover {
    background-color: azure;
    color: purple;
    padding: 10px 0px;
  }
  
  nav ul li a {
    color: azure; /* set the link color */
    text-decoration: none; /* remove the underline */
    font-size: 18px; /* set the font size */
    font-style: normal;

  }

.hiw {
    margin-top: 90px;
    margin-bottom: 0;
}

.cta {
    margin-top: 70px;
    margin-bottom: 0;
}

.hero p {
    font-size: large;
    font-weight: 540;
}

main {
    width: 90%;
    margin-left: 5%;
}

img {
    width: 80%;
    height: 20%;
    box-shadow: 3px 1px 3px 1px gray
}

.recommendation-text {
    margin-top: -50px;
}

.recommendation-list li {
  list-style-type: none;
  font-family: "Courier New", Courier, sans-serif, Circular, "Helvetica Neue",Helvetica, Raleway;
  font-style: italic;
  font-weight: medium;
  text-shadow: 3px 2px 3px 1px blue;
  margin-bottom: 15px;
  justify-content: center; /* center the items horizontally */
  align-items: center; /* center the items vertically */
  margin-left: -50px;
}

.my-contacts li {
    list-style-type: none;
}

.listtext {
    font-size: smaller;
    margin-top: -1px;
}

.container {
    margin-top: 170px;
}

.about h2 {
    background-color: purple;
    color: azure;
    box-shadow: 3px 2px 3px 1px grey;
}
.about {
    background-color: rgb(192, 90, 192);
    color: black;
    box-shadow: 3px 2px 3px 1px grey;
    margin-top: 90px;
}


.submission {
    margin-top: 70px;
    border-top: 1px;
}

.step {
    margin-bottom: 50px;
}
.submission h4 {
    font-weight: medium;
}
.recommendations h4 {
    font-weight: 500;
    font-family: "Courier New", Courier, sans-serif, Circular, "Helvetica Neue",Helvetica, Raleway;
    text-shadow: 5px 2px 3px 2px black;
}

.thankyounote {
    margin-top: 55px;
}

form input {
    border: None;
    box-shadow: 3px 2px 3px 2px #39ac39;
}

::-webkit-input-placeholder {
    font-style: italic;
    text-align: center;
}

#tryit_button {
    text-align: center;
    width: 80px;
    height: 30px;
    margin-top: 4px;
    background-color: chocolate;
    cursor: pointer;
    border: none;
    color: black;
    box-shadow: 2px 1px 2px 1px #39ac39;
}

#cta_button {
    text-align: center;
    width: 80px;
    height: 30px;
    margin-top: 4px;
    background-color: chocolate;
    cursor: pointer;
    border: none;
    color: black;
    box-shadow: 2px 1px 2px 1px #39ac39;
}

#submit_button {
    font-style: italic;
    text-align: center;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    background-color: chocolate;
    cursor: pointer;
}
#goagainButton {
    font-style: italic;
    text-align: center;
    width: 145px;
    height: 30px;
    margin-top: 15px;
    background-color: chocolate;
    cursor: pointer;
}
#goagainButton:active {
    transform: scale(0.90);
}

#submit_button:active {
    transform: scale(0.90);
}

#tryit_button:active {
    transform: scale(0.90);
}
#cta_button:active {
    transform: scale(0.90);
}


#submit_button:hover {
    background-color: #b5651d;
}
input {
    width: 300px;
    height: 40px;
    margin: 15px;
    text-align: center;
}


/* making stylings responsive for some phones, which include
 the iphones x, xr, 6, 7, 8, 6 plus, 7plus, 8plus, iphone 12 and some samsung phones */
@media screen and (max-width: 414px) and (max-height: 896px) {
    .welcome p {
        font-size: 13px;
    }

    .hero p {
        font-size: large;
        font-weight: 400;
    }

    .submission h4 {
        font-weight: medium;
        font-size: 13px;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: -3px;
    }
    form input {
        border: None;
        box-shadow: 3px 2px 3px 2px #39ac39;
        width: 185px;
        height: 40px;
        font-size: 9px;
        margin-bottom: 1px;
    }
    .recommendation-list {
        list-style: none;
        margin-left: 5px;
    }
}


@media screen and (max-width: 414px) and (max-height: 736px) {
    .welcome {
        margin-top: -11px;
    }
    .welcome p {
        font-size: 12px;
    }

    .hero p {
        font-size: large;
        font-weight: 400;
    }

    .submission h4 {
        font-weight: medium;
        font-size: 11px;
        margin-top: -14px;
    }
    form input {
        border: None;
        box-shadow: 3px 2px 3px 2px #39ac39;
        width: 185px;
        height: 40px;
        font-size: 9px;
        margin-bottom: 1px;
    }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
    .container {
        width: 90%;
        margin-left: 20px;
        margin-top: 150px;
    }
    .welcome h2{
        font-size: 20px;
        margin-left: 0;
    }
    .welcome p{
        font-size: 10px;
    }
    .hero p {
        font-size: large;
        font-weight: 400;
    }
    #submit_button {
        font-style: italic;
        text-align: center;
        font-size: 8px;
        width: 50px;
        height: 22px;
        margin-top: 15px;
        background-color: chocolate;
        cursor: pointer;
    }
    #goagainButton {
        font-style: italic;
        text-align: center;
        width: 125px;
        height: 25px;
        font-size: 8px;
        margin-top: 15px;
        background-color: chocolate;
        cursor: pointer;
    }
    form input {
        border: None;
        box-shadow: 3px 2px 3px 2px #39ac39;
        width: 150px;
        height: 30px;
        font-size: 8px;
        margin-bottom: 1px;
    }
    .recommendations h4 {
        font-weight: 500;
        font-size: 12px;
        font-family: "Courier New", Courier, sans-serif, Circular, "Helvetica Neue",Helvetica, Raleway;
        text-shadow: 5px 2px 3px 2px black;

    }
    .submission {
        margin-top: 70px;
    }
    .submission h4 {
        font-weight: medium;
        font-size: 11px;
        margin-top: -16px;
    }
    .recommendation-list {
        list-style: none;
        margin-left: 5px;
    }

}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .welcome {
        margin-top: -11px;
    }

    .welcome h2{
        font-size: 19px;
    }
    .hero p {
        font-size: large;
        font-weight: 400;
    }
    .welcome p {
        font-size: 12px;
    }
    .submission h4 {
        font-weight: medium;
        font-size: 12px;
        margin-top: -26px;
    }
    form input {
        border: None;
        box-shadow: 3px 2px 3px 2px #39ac39;
        width: 185px;
        height: 40px;
        font-size: 9px;
        margin-bottom: -1px;
    }
}
